[user]
	name = Lakshya Singh 
	email = lakshay.singh1108@gmail.com
	signingkey = 728951CB5C9F87D81A7070147A35FE32EA599CF7
[core]
	editor = nvim
	username = Lakshya Singh
	name = Lakshya Singh
[help]
	autocorrect = 100
[alias]
	co = checkout
	cp = cherry-pick
	ci = commit -s
	ca = commit -v --amend
	br = branch
	bd = branch -D
	type = cat-file -t
	pretty = cat-file -p
	lg = log --graph
	ol = log --pretty=oneline --graph --decorate --all
	ad = add -p
	aa = add .
	dfs = diff --staged
	df = diff
	last = log -1 HEAD
	plu = pull upstream
	plo = pull origin
	ra = rebase --abort
	rc = rebase --continue
	pof = push origin --force-with-lease
	po = push origin
	rs = reset
	rhh = reset --hard HEAD^
	rh = reset --hard
	s = status -s
	
[commit]
	template = ~/scripts/git/gitmessage
	gpgsign = true
[pull]
	ff = only
[init]
	defaultBranch = main
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[submodule]
	recurse = true
