[user]
	name = Lakshya Singh
	email = lakshay.singh1108@gmail.com
[core]
	editor = nvim
	username = Lakshya Singh
	name = Lakshya Singh
[help]
	autocorrect = 10
[alias]
	co = checkout
	ci = commit
	br = branch
	type = cat-file -t
	pretty = cat-file -p
	lg = log --graph
	ol = log --oneline
	ad = add -p
	dfs = diff --staged
	df = diff
	db = branch -D
	last = log -1 HEAD
	pur = pull --rebase=merges upstream
	pu = pull upstream
	ra = rebase --abort
	rc = rebase --continue
	pof = push origin --force-with-lease
	po = push origin
	rs = reset
	rhh = reset --hard HEAD
	rh = reset --hard
	s = status -s
	
[commit]
	template = /home/targetx/scripts/git/gitmessage
[pull]
	ff = only
