[user]
  name = Lakshya Singh
  email = lakshay.singh1108@gmail.com
  signingkey = 6491470634BAE613
[core]
  editor = nvim
  username = Lakshya Singh
  name = Lakshya Singh
[alias]
  co = checkout
  ct = checkout -t
  cp = cherry-pick
  ci = commit -s
  ca = commit -v --amend
  bv = branch -v
  bd = branch -D
  lg = log --graph
  ol = log --oneline --decorate
  last = log -1 HEAD
  pl = "!. ~/projects/dotrc/config/git/githelpers && pretty_git_log"
  ad = add -p
  aa = add .
  dfs = diff --staged
  df = diff
  plu = pull upstream
  plo = pull origin --rebase=merges
  ri = rebase -i
  ra = rebase --abort
  rc = rebase --continue
  pof = push origin --force-with-lease
  puf = push upstream --force-with-lease
  po = push origin
  pu = push upstream
  rs = reset
  rh = reset --hard
  rhh = reset --hard HEAD
  s = status -sb
  st = stash
  sta = stash --include-untracked
  std = stash drop
  stl = stash list
  stp = stash pop
[branch]
  sort = -committerdate
  autosetuprebase = always
[color]
  ui = auto
[commit]
  template = ~/projects/dotrc/config/git/gitmessage
  gpgsign = true
[diff]
  external = difft
  algorithm = histogram
  submodule = log
[fetch]
  prune = true
  prunetags = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[help]
  autocorrect = 100
[init]
  defaultBranch = main
[log]
  date = iso
[merge]
  conflictstyle = zdiff3
  tool = meld
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autostash = true
[rerere]
  enabled = true
[status]
  submoduleSummary = true
[submodule]
  recurse = true
