[user]
	name = Lakshya Singh 
	email = lakshay.singh1108@gmail.com
	signingkey = D3239BA6109A2CE7 
[core]
	editor = nvim
	username = Lakshya Singh
	name = Lakshya Singh
[help]
	autocorrect = 100
[alias]
	co = checkout
	cp = cherry-pick
	ci = commit -s
	ca = commit -v --amend
  bv = branch -v
	bd = branch -D
	lg = log --graph
	ol = log --pretty=oneline --decorate
	ad = add -p
	aa = add .
	dfs = diff --staged
	df = diff
	last = log -1 HEAD
	plu = pull upstream
  plo = pull origin --rebase=merges
	ra = rebase --abort
	rc = rebase --continue
	pof = push origin --force-with-lease
	puf = push upstream --force-with-lease
	po = push origin
	pu = push upstream
	rs = reset
	rhh = reset --hard HEAD
  rh = reset --hard
	s = status -s

[commit]
	template = ~/projects/dotrc/config/git/gitmessage
	gpgsign = true
[pull]
	ff = only
[init]
	defaultBranch = main
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[submodule]
	recurse = true
[push]
	autoSetupRemote = true
[diff]
	external = difft
